@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

body {
	line-height: 1.5em;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.scanner{width: 100px;}
.scanner .fingerprint{
  /* border: 2px solid #fff; */
  height: 130px;
  background: url(../image/fingerprint-down.svg) no-repeat center top;
	position: relative;
	background-size: 120px;

}
.scanner .fingerprint:before{
  content: '';
  position: absolute;
  width: 100%;
	/* height: inherit; */
  height: 0;
  background: url(../image/fingerprint-up.svg) no-repeat center top;
  /* background: url(../img/fingerprint-down.svg) no-repeat center top;
	filter: invert(55%) sepia(98%) saturate(776%) hue-rotate(166deg) brightness(95%) contrast(85%); */
  background-size: 120px;
  animation: fingerprint 3s infinite;
}
.scanner .fingerprint:after {
	content: '';
	position: absolute;
	background-color: #34ace0;
	width: 120%;
	height: 5px;
	border-radius: 10px;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
  animation: scan-bar 3s infinite;
}

.scanner .scanning{
  border: 1px solid #fff;
  color: #34ace0;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
	text-align: center;
  animation: scanning 1s linear infinite;
}

@keyframes fingerprint {
	0%, 100% {
		height: 0;
	}
	50% {
		height: 100%;
	}
}

@keyframes scan-bar {
	0%, 100% {
		top: 0;
	}
	50% {
		top: 93%;
	}
}

@keyframes scanning {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}