@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

body {
	line-height: 1.5em;
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loading {width: 250px;}
.loading h4 {
	text-align: center;
	margin-bottom: 30px;
	color: #fff;
}
.conic {
	/* border: 1px solid #fff; */
	width: 150px;
	height: 150px;
	margin: auto;
	border-radius: 50%;
	position: relative;
}
.conic:before,
.conic:after {
	content: '';
	position: absolute;
	background-color: red;
	/* width: inherit;
	height: inherit;  */
	border-radius: inherit;
	background-image: conic-gradient(#2ecc71, #9b59b6, #e74c3c, #3498db, #2ecc71);
	/* top: -10px;
	bottom: -10px;
	left: -10px;
	right: -10px; */
	inset: -10px;
	z-index: -1;
	animation: spin 3s linear infinite;
}
.conic:after {
	filter: blur(20px);
	opacity: 0.8;
}

.conic div {
	background-color: #222;
	width: inherit;
	height: inherit;
	position: absolute;
	border-radius: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}


@keyframes spin {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 360deg;
	}
}


/* 
inset 속성 : position속성과 같이 사용해야 하고, 기본의 top,bottom,righy.left 의 축약형이다.
*/