@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

body {
	line-height: 1.5em;
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.frame {
	display: none;
	width: 100px;
	height: 100px;
	border: 1px solid #fff;
	position: relative;
}
.frame div {
	position: absolute;
	background-color: red;
	width: 10px;
	height: 20px;
	left: 50%;
	transform: rotate(calc(60deg * var(--i)));
	transform-origin: 0 50px;  /* 수평/수직, 기본이 50% 50% */
}

/* ----------------------------------------- */

.loader {
	/* border: 1px solid #fff; */
	width: 100px;
	height: 100px;
	position: relative;
	animation: backcolor 1s ease-in-out infinite;
}
.loader .bar {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #333;
	border-radius: 50%;
	left: 50%;
	transform: rotate(calc(36deg * var(--i)));  /* 모두 10개이므로 360를 10개로 나누어서 36도씩 반복해서 회전함 */
	transform-origin: 0 50px;  /* 부모크기에 50% 크기만큼 수직으로 맞춤 */
	animation: loader 1s linear infinite;
	animation-delay: calc(0.1s * var(--i));  /* 총 재생시간 1초를 10개를 나누어서 0.1초씩*/
}
.wait {
	color: yellowgreen;
	position: absolute;
	/* margin: 0; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: wait 1s linear infinite;
}

@keyframes loader {
	0%, 100% {
		opacity: 0;
	}
	50% {
		background-color: yellowgreen;
		opacity: 1;
		/* 빛나는듯한 효과 */
		box-shadow: 0 0 5px yellowgreen,
								0 0 10px yellowgreen,
								0 0 20px yellowgreen,
								0 0 30px yellowgreen;
	}
}
@keyframes wait {
	0%, 100% {
		color: #222;
	}
	50% {
		color: yellowgreen;
	}
}

@keyframes backcolor {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}
