@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  background-color: #222;
  color: #fff;
  font-weight: 300;
  line-height: 26px;
  font-size: 15px;
}

.items{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.item{
  /* border: 1px solid red; */
  position: relative;
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 10px;
}
.front, .back{
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  text-align: center;
  box-sizing: border-box;
  transition: 0.5s;
}
.item:hover .front{top: -50%;}
.item:hover .back{
  top: 50%;
  opacity: 1;
}

.front{
  background-color: #333;
  z-index: 1;
}
.front h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.front h2 span{
  display: block;
  font-size: 14px;
  color: #999;
}

.back{
  background-color: #fff;
  color: #000;
  padding: 20px;
  opacity: 0;
}
.back a{
  display: inline-block;
  background-color: yellowgreen;
  color: #fff;
  border-radius: 20px;
  font-size: 13px;
  padding: 5px 15px;
  margin-top: 20px;
}
.back a:hover{background-color: #000;}

.item:hover .front img{animation: ani 1s linear infinite}

@keyframes ani{
  0%{
    transform: scale(0.9);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(0.9);
  }
}