@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}
body {
	font-size: 15px;
	line-height: 1.5em;
	color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

:root {
	--c1: #2ecc71;
	--c2: #3498db;
	--c3: #9b59b6;
	--c4: #f1c40f;
	--c5: #e74c3c;
}

figure {}
figure h1 {
	text-align: center;
}
figure p {margin-bottom: 50px;}
.chart {
	display: flex;
	gap: 30px;
}
:is(.pie, .donut) {
	/* border: 1px solid #000; */
	width: 250px;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.pie {
	background-image: conic-gradient(  /* 앞에 모두 0을 넣어도 됨 */
    /* from 60deg, */
		var(--c1) 0 10%,
		var(--c2) 10% 45%,
		var(--c3) 45% 65%,
		var(--c4) 65% 75%,
		var(--c5) 75% 100%
	);
}

.donut {
	mask-image: url(../image/record-circle-fill.svg);
	mask-repeat: no-repeat;
	mask-size: 100%;
	background-image: conic-gradient(
		var(--c1) 0 10%,
		var(--c2) 10% 45%,
		var(--c3) 45% 65%,
		var(--c4) 65% 75%,
		var(--c5) 75% 100%
	);
}

figcaption {
	margin: 20px;
	display: flex;
	justify-content: center;
	gap: 20px;
}
figcaption span:before {
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 3px;
	border-radius: 50%;
	transform: translateY(2px);
}
figcaption span:nth-child(1):before {
	background-color: var(--c1);
}
figcaption span:nth-child(2):before {
	background-color: var(--c2);
}
figcaption span:nth-child(3):before {
	background-color: var(--c3);
}
figcaption span:nth-child(4):before {
	background-color: var(--c4);
}
figcaption span:nth-child(5):before {
	background-color: var(--c5);
}


/* 
mask-image : 마스크에 사용할 이미지 지정
mask-size : 마스크 크기설정
mask-position : 마스크 위치조정
mask-repeat : 마스크 이미지의 반복여부설정
mask-clip : 마스크가 적용될 영역 설정
mask-orgin : 마스크의 원점 설정
mask-mode : 마스크 모드 설정
mask-composite : 여러 마스크 조합방법설정
*/