@import url(common.css);

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-inner{
  /* border: 1px solid red; */
  position: relative;
  width: 300px;
  height: 350px;
}
input[name=tabmenu]{display: none;}

.content{
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.btn{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
}
.btn label{
  background-color: lightgray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

input[id=tab1]:checked ~.slide1,
input[id=tab2]:checked ~.slide2,
input[id=tab3]:checked ~.slide3{
  /* display: block; */
  opacity: 1;
}

input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3]{
  background-color: crimson;
}