@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #222;
}

input[name=tabmenu] {display: none;}

.tabs{  /* 전체영역 */
  width: 100vw;
  height: 100vh;
  position: relative;
}
.items{  /* 슬라이드영역 */
  width: 300vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: 0.5s;
}
.items div{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items div h1 {
  font-size: 80px;
  font-weight: normal;
  color: #fff;
}
.items div:nth-child(1) {background-color: teal;}
.items div:nth-child(2) {background-color: dodgerblue;}
.items div:nth-child(3) {background-color: yellowgreen;}

.btn{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.btn label{
  display: inline-block;
  height: 5px;
  width: 50px;
  background-color: #fff;
  cursor: pointer;
}

input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3]{
  background-color: #000;
}

input[id=tab1]:checked ~.tabs .items{left: 0;}
input[id=tab2]:checked ~.tabs .items{left: -100vw;}
input[id=tab3]:checked ~.tabs .items{left: -200vw;}